body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header, #footer{
    background: seagreen;
}
ul#main_menu{
    text-align: center;
}
ul#main_menu li{
    display: inline-block;
}
ul#main_menu li a{
    padding: 8px 15px;
    color:#fff;
    display: block;
}
/*Milti template*/
#header.mod-pages{
    background: brown;
}
#header.mod-home{
    background:#c3e025 ;
}
#header.mod-product{
    background:#501c6a ;
}
#header.mod-post{
    background:green;
}
#content{
    min-height: 600px;
    padding: 20px 0px;
}
#footer{
    text-align: center;
    padding:10px;
    color:#fff;
}