*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    gap: 10px;
}

.sidebar__header{
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #fff;
    cursor: pointer;
}

.sidebar__btn > .ion-icon{
    font-size: 24px;
    padding: 10px;
    background-color: var(--bs-teal);
    border-radius: 5px;
}

.sidebar__title{
    margin-bottom: 0;
}

.sidebar__container{
    flex-grow: 12;
    background-color: var(--bs-teal);
    border-radius: 5px;
}

.sidebar__content{
    width: 100%;
    padding: 10px;
}

.sidebar__item{
    background-color: #27ae60;
}